<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @item_attachment.caption %>
</p>


<%= link_to 'Edit', edit_item_attachment_path(@item_attachment) %> |
<%= link_to 'Back', item_attachments_path %>
