<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @post_attachment.caption %>
</p>


<%= link_to 'Edit', edit_post_attachment_path(@post_attachment) %> |
<%= link_to 'Back', post_attachments_path %>
