<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @panel_attachment.caption %>
</p>


<%= link_to 'Edit', edit_panel_attachment_path(@panel_attachment) %> |
<%= link_to 'Back', panel_attachments_path %>
